vak-header
.container#body
  h3(style='text-align: center;')
    strong Высшая аттестационная комиссия Кыргызской Республики
  .row
    .col-md-3
      .panel
        .panel-heading
          .panel-title Разделы публикаций
        .panel-body.side
          ul.list-group.side
            li.list-group-item
              a(ui-sref='structura')
                span Структура ВАК
            li.list-group-item
              a(ui-sref='sostav')
                span Состав ВАК КР
            li.list-group-item
              a(ui-sref='prezidium')
                span Президиум ВАК КР
            li.list-group-item.select
              a(ui-sref='expert')
                span Экспертные советы
    .col-md-8.pdf
      nv-file-select
        .panel
          .panel-heading
            .panel-title Экспертные советы
          .panel-body
          table#dev-table.table.table-hover.table-bordered
            thead
              tr
                th(colspan="2").text-center Перечень экспертных советов ВАК Кыргызской Республики
              tr
                th(width="30%") Экспертный совет
                th Специальность
            tbody
              tr
                td Экспертный совет по биомедицинским и химическим наукам.
                  |Срок полномочий истёк 08.10.2016
                td 02.00.01 - Неорганическая химия
                  br
                  |02.00.03 - Органическая химия
                  br
                  |03.01.04 - Биохимия
                  br
                  |03.02.07 - Генетика
                  br
                  |03.03.01 - Физиология
                  br
                  |03.03.04 - Клеточная биология, цитология, гистология
                  br
                  |14.03.01 - Анатомия человека
                  br
                  |14.03.02 - Патологическая анатомия
                  br
                  |14.03.03 - Патологическая физиология
                  br
                  |14.04.01 - Технология получения лекарств
                  br
                  |14.04.03 - Организация фармацевтического дела
              tr
                td Экспертный совет по геологии, горным наукам и географии.
                  | Срок полномочий истёк 03.12.2017
                td 25.00.01 - Общая и региональная геология
                  br
                  |25.00.11 - Геология, поиски и разведка твердых полезных ископаемых минерагения
                  br
                  |25.00.36 - Геоэкология (по отраслям)
                  br
                  |25.00.24 - Экономическая, социальная, политическая и рекреационная география
                  br
                  |25.00.20 - Геомеханика, разрушение горных пород, рудничная аэрогазодинамика и горная теплофизика
                  br
                  |25.00.22 - Геотехнология (подземная, открытая и строительная)
                  br
                  |25.00.23 - Физическая география и биогеография, география почв и геохимия ландшафтов
                  br
                  |25.00.30 - Метеорология, климатология, агрометеорология
                  br
                  |25.00.27 - Гидрология суши, водные ресурсы, гидрохимия
                  br
                  |25.00.07 - Гидрогеология
                  br
                  |05.16.02 - Металлургия черных, цветных и редких металлов
                  br
                  |25.00.08 - Инженерная геология, мерзлотоведение и грунтоведение
                  br
                  |25.00.10 - Геофизика, геофизические методы поисков полезных ископаемых
                  br
                  |25.00.13 - Обогащение полезных ископаемых
              tr
                td Экспертный совет по информатике, вычислительной технике, автоматизации и энергетике.
                  |Срок полномочий истёк 03.12.2017
                td 05.13.01 - Системный анализ, управление и обработка информации (по отраслям)
                  br
                  |05.13.05 - Элементы и устройства вычислительной техники и систем управления
                  br
                  |05.13.06 - Автоматизация и управление технологическими процессами и производствами (по отраслям)
                  br
                  |05.13.10 - Управление в социальных и экономических системах
                  br
                  |05.13.18 - Математическое моделирование, численные методы и комплексы программ
                  br
                  |05.14.02 - Электрические станции и электроэнергетические системы
                  br
                  |05.14.08 - Энергоустановки на основе возобновляемых видов энергии
              tr
                td Экспертный совет по историческим наукам.
                  | Срок полномочий истёк 09.12.2015
                td 07.00.02 - Отечественная история
                  br
                  |07.00.06 - Археология
                  br
                  |07.00.07 - Этнография, этнология и антропология
                  br
                  |07.00.09 - Историография, источниковедение и методы исторического исследования
              tr
                td Экспертный совет по клинической медицине терапевтического профиля и профилактической медицине.
                  |Срок полномочий истёк 08.10.2016
                td 14.01.04 - Внутренние болезни
                  br
                  |14.01.05 - Кардиология
                  br
                  |14.01.08 - Педиатрия
                  br
                  |14.01.08 - Педиатрия
                  br
                  |14.01.09 - Инфекционные болезни
                  br
                  |14.01.16 - Фтизиатрия
                  br
                  |14.02.01 - Гигиена
                  br
                  |14.02.02 - Эпидемиология
                  br
                  |14.02.03 - Общественное здоровье и здравоохранение
              tr
                td Экспертный совет по клинической медицине хирургического профиля.
                  |Срок полномочий истёк 08.10.2016
                td 14.01.13 - Лучевая диагностика, лучевая терапия
                  br
                  |14.01.14 - Стоматология
                  br
                  |14.01.17 - Хирургия
                  br
                  |14.01.23 - Урология
              tr
                td Экспертный совет по машиностроению, строительству, архитектуре, технологии и мелиорации.
                  |Срок полномочий истёк 03.12.2017
                td 05.05.03 - Колесные и гусеничные машины
                  br
                  |05.22.10 - Эксплуатация автомобильного транспорта
                  br
                  |05.18.01 - Технология обработки, хранения и переработки злаковых, бобовых культур, крупяных продуктов, плодоовощной продукции и виноградарства
                  br
                  |05.18.04 - Технология мясных, молочных и рыбных продуктов и холодильных производств
                  br
                  |05.18.15 - Технология и товароведение пищевых продуктов и функционального и специализированного назначения и общественного питания
                  br
                  |05.02.18 - Теория механизмов и машин
                  br
                  |05.05.06 - Горные машины
                  br
                  |05.23.05 - Строительные материалы и изделия
                  br
                  |05.17.06 - Технология и переработка полимеров и композитов
                  br
                  |05.23.01 - Строительные конструкции, здания и сооружения
                  br
                  |05.23.11 - Проектирование и строительство дорог, метрополитенов, аэродромов, мостов и транспортных тоннелей
                  br
                  |05.22.06 - Железнодорожный путь, изыскание и проектирование железных дорог
                  br
                  |05.02.08 - Технология машиностроения
                  br
                  |05.23.20 - Теория и история архитектуры, реставрация и реконструкция историко-архитектурного наследия
                  br
                  |05.23.21 - Архитектура зданий и сооружений. Творческие концепции архитектурной деятельности
                  br
                  |02.00.01 - Неорганическая химия
                  br
                  |05.23.04 - Водоснабжение, канализация, строительные системы охраны водных ресурсов
                  br
                  |05.20.01 - Технологии и средства механизации сельского хозяйства
                  br
                  |06.01.02 - Мелиорация, рекультивация и охрана земель
                  br
                  |05.23.07 - Гидротехническое строительство
                  br
                  |05.23.17 - Строительная механика
                  br
                  |05.05.04 - Дорожные, строительные и подъемно-транспортные машины
                  br
                  |02.00.04 - Физическая химия
                  br
                  |05.05.04 - Дорожные, строительные и подъемно-транспортные машины
                  br
                  |02.00.03 - Органическая химия
                  br
                  |05.23.03 - Теплоснабжение, вентиляция, кондиционирование воздуха, газоснабжение и освещение
              tr
                td Экспертный совет по педагогическим наукам.
                  |Срок полномочий истёк 04.11.2015
                td 13.00.01 - Общая педагогика, история педагогики и образования
                  br
                  |13.00.02 - Теория и методика обучения и воспитания (по областям и уровням образования)
                  br
                  |13.00.04 - Теория и методика физического воспитания, спортивной тренировки, оздоровительной и адаптивной физической культуры
              tr
                td Экспертный совет по физико-математическим наукам.
                  |Срок полномочий истёк 03.12.2017
                td 01.01.02 - Дифференциальные уравнения, динамические системы и оптимальное управление
                  br
                  |01.01.04 - Геометрия и топология
                  br
                  |01.02.05 - Механика жидкости, газа и плазмы
                  br
                  |01.04.02 - Теоретическая физика
                  br
                  |01.04.05 - Оптика
                  br
                  |01.04.07 - Физика конденсированного состояния
                  br
                  |01.04.14 - Теплофизика и теоретическая теплотехника
                  br
                  |01.02.04 - Механика деформируемого твердого тела
                  br
                  |25.00.29 - Физика атмосферы и гидросферы
                  br
                  |08.00.13 - Математические и инструментальные методы экономики
              tr
                td Экспертный совет по филологическим наукам.
                  |Срок полномочий истёк 28.12.2015
                td 10.01.01 - Кыргызская литература
                  br
                  |10.01.03 - Литература народов стран зарубежья (с указанием конкретной литературы)
                  br
                  |10.01.09 - Фольклористика
                  br
                  |10.02.01 - Кыргызский язык
                  br
                  |10.02.06 - Тюркские языки
                  br
                  |10.02.19 - Теория языка
                  br
                  |10.02.20 - Сравнительно-историческое, типологическое и сопоставительное языкознание
              tr
                td Экспертный совет по философским, политическим и социологическим наукам.
                  |Срок полномочий истёк 07.02.2016
                td 24.00.01 - Теория и история культуры
                  br
                  |23.00.02 - Политические институты, процессы и технологии
                  br
                  |22.00.04 - Социальная структура, социальные институты и процессы
                  br
                  |09.00.11 - Социальная философия
                  br
                  |09.00.03 - История философии
              tr
                td Экспертный совет по экономическим наукам.
                  |Срок полномочий истёк 03.10.2016
                td 08.00.12 - Бухгалтерский учет, статистика
                  br
                  |08.00.10 - Финансы, денежное обращение и кредит
                  br
                  |08.00.05 - Экономика и управление народным хозяйством (по отраслям и сферам деятельности)
                  br
                  |08.00.01 - Экономическая теория
              tr
                td Экспертный совет по юридическим наукам.
                  |Срок полномочий истёк 03.10.2016
                td 12.00.14 - Административное право, финансовое право, информационное право
                  br
                  |12.00.11 - Судебная власть, прокурорский надзор, организация правоохранительной деятельности
                  br
                  |12.00.09 - Уголовный процесс, криминалистика; оперативно-розыскная деятельность
                  br
                  |12.00.08 - Уголовное право и криминология; уголовно-исполнительное право
                  br
                  |12.00.06 - Природоресурсное право; аграрное право; экологическое право
                  br
                  |12.00.03 - Гражданское право; предпринимательское право; семейное право; международное частное право
                  br
                  |12.00.02 - Конституционное право; муниципальное право
                  br
                  |12.00.01 - Теория и история права и государства; история учений о праве и государстве
              tr
                td Экспертный совет по клинической медицине хирургического профиля.
                  |Срок полномочий до 01.11.2018
                td 14.01.01 - Акушерство и гинекология
                  br
                  |14.01.03 - Болезни уха, горла и носа
                  br
                  |14.01.12 - Онкология
                  br
                  |14.01.14 - Стоматология
                  br
                  |14.01.15 - Травматология и ортопедия
                  br
                  |14.01.17 - Хирургия
                  br
                  |14.01.23 - Урология
                  br
                  |14.01.26 - Сердечно-сосудистая хирургия
                  br
                  |14.01.07 - Глазные болезни
                  br
                  |14.01.13 - Лучевая диагностика, лучевая терапия
                  br
                  |14.01.18 - Нейрохирургия
                  br
                  |14.01.19 - Детская хирургия
                  br
                  |14.01.20 - Анестезиология и реаниматология
              tr
                td Экспертный совет по клинической медицине терапевтического профиля, профилактической медицине и биомедицине.
                  |Срок полномочий до 01.12.2018
                td 14.01.04 - Внутренние болезни
                  br
                  |14.01.05 - Кардиология
                  br
                  |14.01.08 - Педиатрия
                  br
                  |14.01.09 - Инфекционные болезни
                  br
                  |14.02.01 - Гигиена
                  br
                  |14.02.02 - Эпидемиология
                  br
                  |14.02.03 - Общественное здоровье и здравоохранение
                  br
                  |14.03.01 - Анатомия человека
                  br
                  |14.03.03 - Патологическая физиология
                  br
                  |14.03.06 - Фармакология, клиническая фармакология
                  br
                  |14.03.03 - Патологическая физиология
                  br
                  |03.02.03 - Микробиология
                  br
                  |03.03.01 - Физиология
                  br
                  |14.01.10 - Кожные и венерические болезни
                  br
                  |14.01.11 - Нервные болезни
                  br
                  |14.01.16 - Фтизиатрия
                  br
                  |14.03.02 - Патологическая анатомия
                  br
                  |14.03.09 - Клиническая иммунология, аллергология
                  br
                  |14.03.11 - Восстановительная медицина, спортивная медицина, лечебная физкультура, курортология и физиотерапия
                  br
                  |14.04.01 - Технология получения лекарств
                  br
                  |14.04.03 - Организация фармацевтического дела
                  br
                  |03.03.04 - Клеточная биология, цитология, гистология
              tr
                td Экспертный совет по биоаграрным наукам .
                  |Срок полномочий до 01.11.2018
                td 03.01.04 - Биохимия
                  br
                  |03.01.06 - Биотехнология (в том числе бионанотехнологии)
                  br
                  |03.02.01 - Ботаника
                  br
                  |03.02.04 - Зоология
                  br
                  |03.02.08 - Экология
                  br
                  |03.02.11 - Паразитология
                  br
                  |06.01.04 - Агрохимия
                  br
                  |06.01.07 - Защита растений
                  br
                  |06.01.09 - Растениеводство
                  br
                  |06.02.01 - Диагностика болезней и терапия животных, паталогия, онкология и морфология животных
                  br
                  |06.02.02 - Ветеринарная микробиология, вирусология, эпизоотология, микология с микотоксикологией и иммунология
                  br
                  |06.02.05 - Ветеринарная санитария, экология, зоогигиена и ветеринарно-санитарная экспертиза
                  br
                  |06.02.07 - Разведение, селекция и генетика сельскохозяйственных животных
                  br
                  |06.02.10 - Частная зоотехния, технология производства продуктов животноводства
                  br
                  |06.03.02 - Лесоведение, лесоводство, лесоустройство и лесная таксация
                  br
                  |03.02.07 - Генетика
                  br
                  |03.02.05 - Энтомология
                  br
                  |03.02.11 - Паразитология
                  br
                  |03.02.13 - Почвоведение
                  br
                  |06.01.05 - Селекция и семеноводство сельскохозяйсвенных растений
                  br
                  |06.01.07 - Защита растений
vak-footer
