vak-header
.container#body
  h3.text-center
    strong Высшая аттестационная комиссия Кыргызской Республики
  .row
    .col-md-3
      .panel
        .panel-heading
          .panel-title Разделы публикаций
        .panel-body.side
          ul.list-group.side
            li.list-group-item.select
              a(ui-sref='structura')
                span Структура ВАК
            li.list-group-item
              a(ui-sref='sostav')
                span Состав ВАК КР
            li.list-group-item
              a(ui-sref='prezidium')
                span Президиум ВАК КР
            li.list-group-item
              a(ui-sref='expert')
                span Экспертные советы
    .col-md-8
      h3.text-center Утверждена постановлением Правительства Кыргызской Республики от 29 июля 2011 года N 425
      p.lead.text-center
        | Структура
        | управления Высшей аттестационной комиссии
        | Кыргызской Республики
        | (В редакции постановления Правительства КР от 29 января 2014 года №59)
      img(src='assets/images/struktVAK.gif', alt='structuraVAK', width='708', height='691')



vak-footer
