.container.w-xxl.w-auto-xs
  a.navbar-brand.block.m-t(ui-sref='ais') Высшая Аттестационная Коммисия КР
  .m-b-lg
    a(ui-sref='ais')
      img(src='assets/images/logo.png', alt='Vak logo', style='width: 25%; display: block;  margin-left: auto; margin-right: auto')
    .wrapper.text-center
      strong На вашу почту было отправленно письмо. Пожалуйста подтвердите вашу почту
