//
   Created by ilias on 14.07.2018.

vak-header
.container#body
  h3(style='text-align: center;')
    strong Диссертационные советы
  .row
    .col-md-3
      .panel
        .panel-heading
          .panel-title Разделы публикаций
        .panel-body.side
          ul.list-group.side
            li.list-group-item
              a(ui-sref='view')
                span Научные кадры
            li.list-group-item
              a(ui-sref='aspirant')
                span Список соискателей
            li.list-group-item.select
              a(ui-sref='dissov')
                span {{'DISS_LABEL' | translate}}
            li.list-group-item
              a(ui-sref='activity')
                span {{'THEMES_LABEL' | translate}}
            li.list-group-item
              a(ui-sref='activity')
                span {{'LIST_OF_QUERY_LABEL' | translate}}
            li.list-group-item
              a(ui-sref='activity')
                span Оппоненты
            li.list-group-item
              a(ui-sref='activity')
                span Экспертная комиссия ДС
            li.list-group-item
              a(ui-sref='activity')
                span Отклоненные диссертации
    .col.col-xs-12.col-sm-8.col-md-9
      .wrapper.lter
        .panel.panel-info
          .panel-heading.font-bold
          .panel-body
            .wrapper.lter.b-b
              .panel.panel-info
                .panel-heading.font-bold Диссертационные советы
                .panel-body
                  .wrapper
                  table.table.table-bordered
                    thead
                      tr
                        th
                        th Наименование организации, при которой функционирует ДС и шифр совета
                        th Отрасль науки, по которой присуждается ученая степень
                        th Шифр и название специальности, по которой проводится защита диссертации
                    tbody(ng-repeat='dis in dissov.diss')
                      tr.work(ng-click='dissov.showDiss(dis)')
                        td {{$index+1}}
                        td
                          span(ng-repeat='org in dis.organizations')
                            span {{org.organization.name_ru}}
                            br
                          span(style="font-weight:bold") {{dis.code}}
                          br
                          span Срок полномочий до {{dis.date_end | amDateFormat:"DD.MM.YYYY" }}
                        td
                          span(ng-repeat='degree in dis.programs')
                            span.radius-label {{ degree.academicdegree.name_ru }}
                            span {{ degree.branchesofscience.name_ru }}
                            br
                        td
                          span(ng-repeat='degree in dis.programs')
                            span {{degree.specialty.code}}-{{degree.specialty.name_ru}}
                            br
vak-footer

