footer.footer-ais
  .container.footer-wrapper
    .footer-content.col-md-4
      h4 {{'ADDRESS_LABEL' | translate}}
      p
        | {{'INDEX_LABEL' | translate}}
        br
        | {{'RECEPTION_PHONE_LABEL' | translate}}
        br
        | {{'FAX_LABEL' | translate}}
        br
        | {{'HELPLINE_LABEL' | translate}}
        br
        | {{'ACCOUNTANT_LABEL' | translate}}
        br
        | {{'VAK_EMAIL_LABEL' | translate}}
        br
        | {{'PLAGIARISM_EMAIL_LABEL' | translate}}
        br
        | {{'E_VAK_EMAIL_LABEL' | translate}}
    .footer-content.col-md-4
      h4 {{'WORKING_OURS_LABEL' | translate}}
      p
        | {{'CHAIRMAN_CLOCK_LABEL' | translate}}
        |  {{'DEPUTY_CLOCK_LABEL' | translate}}
        |  {{'MAIN_SECRETARY_CLOCK_LABEL' | translate}}
      h4 Версии сайта:
      P
        a(href="http://ais.vak.kg/" target="_blank")
          p Предыдущая версия веб-сайта ВАК
    .footer-content.col-md-4
      h4 {{'DEPARTMENTS_LABEL' | translate}}
      p
        | {{'IT_EMAIL_LABEL' | translate}}
        br
        | {{'BIOLOGY_EMAIL_LABEL' | translate}}
        br
        | {{'SOCIAL_EMAIL_LABEL' | translate}}
