.row(ng-controller='TypeofgraduateController as typeofgraduate')
  col-responsive
    .form-group
      label {{'NAME_RU_SPAN_LABEL'|translate}}
      input.form-control(type='text' ng-model='edit.dictionary.name_ru' ng-required='true' ng-trim='true')
  col-responsive
    .form-group
      label {{'NAME_KG_SPAN_LABEL'|translate}}
      input.form-control(type='text' ng-model='edit.dictionary.name_kg' ng-required='true' ng-trim='true')
