.container
  .row
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_title
          h2 Форма создания отклоненных диссертаций
          .clearfix
        .x_content
            .form-group
              .col-md-6.col-sm-6.col-xs-12.col-md-offset-3
                button.btn.btn-default(type="button", ng-click="form.goBack()") {{ 'CANCEL_BUTTON_LABEL' | translate}}
                button.btn.btn-primary(type="button", ng-click="form.saveRegulations()") {{ 'SAVE_BUTTON_LABEL' | translate}}



