vak-header
.container#body
  h2.center.col-md-offset-5 Антиплагиат
  .container
    .anti-wrapper.col-md-12
      .dropdown
        button#dropdownMenuButton.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | Регламент;
          | Инструкция &#9660;
        .dropdown-menu#drop(aria-labelledby='dropdownMenuButton')
          a.dropdown-item(href='assets/pdf/anti/reglament.pdf', target="_blank") Регламент
          hr
          a.dropdown-item(href='assets/pdf/anti/инструкция антиплагиат для ус.pdf', target="_blank") Инструкция
          hr
          a.dropdown-item(href='assets/pdf/anti/citation.pdf', target="_blank") Цитирование
      button(type='button')
        a(href="assets/pdf/anti/Отклоненные по плагиату с 2012 года.pdf", target="_blank")
          | Cписок отклоненных
          | дисертаций
      .dropdown
        button#dropdownMenuButton2.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | Приказы и распоряжения &#9660;
        .dropdown-menu#drop(aria-labelledby='dropdownMenuButton2')
          a.dropdown-item(href='assets/pdf/anti/14062016_05.pdf', target="_blank") Распоряжение N 05
          hr
          a.dropdown-item(href='assets/pdf/anti/Распоряжение.pdf', target="_blank") Диссертационным советам
          hr
          a.dropdown-item(href='assets/pdf/anti/Диссоветам по предв проверке.pdf', target="_blank") Письмо ДС о предварительной проверке
      button(type='button')
        a(href="assets/pdf/anti/antpusluga.pdf", target="_blank")
          | Антиплагиат (гос. услуга)
      button(type='button')
        a(href="assets/pdf/anti/Образец заявления.pdf", target="_blank")
          | Образец заявления
  .anti-text
      p
        | Плагиат — умышленно совершаемое физическим лицом незаконное использование или распоряжение
        | охраняемыми результатами чужого творческого труда, которое сопровождается доведением до других лиц
        | ложных сведений о себе как о действительном авторе. Плагиат может быть нарушением авторско-правового
        | законодательства и патентного законо­дательства и в качестве таковых может повлечь за собой юридическую ответственность.
      p
        span Плагиат
        |  выражается в публикации под своим именем чужого произведения, а также в заимствовании
        | фрагментов чужих произведений без указания источника заимствования. Обязательным признаком плагиата
        | является присвоение авторства, так как неправомерное использование, опубликование, копирование и т. п.
        | произведения, охраняемого авторским правом, само по себе является не плагиатом, а другим видом нарушения
        | авторского права, часто называемым «пиратством». «Пиратство» становится плагиатом при неправомерном
        | использовании результатов интеллектуального труда и присвоении публикующим лицом авторства.
        | Анализ плагиата или выявление плагиата — это компьютерные методы выявления плагиата.
        | Плагиат с появлением Интернета превратился в серьёзную проблему. Попав в Интернет, знание становится
        | достоянием всех, соблюдать авторское право становится всё труднее и даже невозможно. Постепенно
        | становится сложнее идентифицировать первоначального автора.
      p
        | Стремительное развитие сети Интернет наряду с увеличивающейся компьютерной грамотностью способствует
        | проникновению плагиата в различные сферы человеческой деятельности: плагиат является острой проблемой
        | в образовании, промышленности и научном сообществе.
      p
        | В настоящее время существует достаточно большое количество сервисов и программ, позволяющих каким-либо
        | образом выявить плагиат. Существует также ряд компьютерных методов обнаружения плагиата.

vak-footer
